.profileScreen {
  height: 100vh;
  color: white;
}
.profileScreenBody {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  max-width: 800px;
}
.profileScreenDetails {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profileScreenDetails > h2 {
  background-color: gray;
  padding: 15px;
  padding-left: 20px;
  font-size: 15px;
}
.profileScreenBody > h1 {
  font-size: 55px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 10px;
}
.profileScreenInfo {
  display: flex;
}
.profileScreenInfo > img {
  height: 100px;
}

.profileScreenSignOut {
  margin-top: 1%;
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}
.profileScreenPlans > h3 {
  margin-top: 20px;
}
